body {
    margin: 0 auto;
    max-width: 70em;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 1.5;
    padding: 5em 10em 5em 10em;
    color: #566b78;
    color: #4A4A4A;
    font-size: 13px;
    background-color: #F4F1EB;
    background-color: #FFFFFF;
}

h1,
h2,
strong {
    font-weight: 800;
    color: #4A4A4A;
}

h4 {
    font-weight: 800;
    color: #ee3e61;
}

/*h5 {
    font-weight: 1000;
    color: #ee3e61;
}*/

a {
  color: #03A9F4;
  color: #016415;
  color: #169AA0;
}

ul {
list-style-type: none;

}
ul li:before {
content: '\2014';
position: absolute;
margin-left: -20px;
}


.responsive {
    width: 100%;
    height: auto;
}

td {
  vertical-align: middle;
}

.newsletter:not( .newsletter--active ) input[type='submit']
{
    display: none;
}
