<div class="social-links">
    {% if site.owner.facebook %}
        <a class="link" data-title="facebook.com/{{ site.owner.facebook }}" href="http://facebook.com/{{ site.owner.facebook }}" target="_blank">
            <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
        </a>
    {% endif %}

    {% if site.owner.twitter %}
        <a class="link" data-title="twitter.com/{{ site.owner.twitter }}" href="http://twitter.com/{{ site.owner.twitter }}" target="_blank">
            <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        </a>
    {% endif %}

    {% if site.owner.google %}
        <a class="link" data-title="plus.google.com/+{{ site.owner.google }}" href="http://plus.google.com/+{{ site.owner.google }}" target="_blank">
            <svg class="icon icon-google"><use xlink:href="#icon-google"></use></svg>
        </a>
    {% endif %}

    {% if site.owner.instagram %}
        <a class="link" data-title="instagram.com/{{ site.owner.instagram }}" href="http://instagram.com/{{ site.owner.instagram }}" target="_blank">
            <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
        </a>
    {% endif %}

    {% if site.owner.pinterest %}
        <a class="link" data-title="pinterest.com/{{ site.owner.pinterest }}" href="http://pinterest.com/{{ site.owner.pinterest }}" target="_blank">
            <svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg>
        </a>
    {% endif %}

    {% if site.owner.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.owner.linkedin }}" href="http://linkedin.com/in/{{ site.owner.linkedin }}" target="_blank">
            <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
        </a>
    {% endif %}

    {% if site.owner.youtube %}
        <a class="link" data-title="youtube.com/{{ site.owner.youtube }}" href="http://youtube.com/{{ site.owner.youtube }}" target="_blank">
            <svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
        </a>
    {% endif %}

    {% if site.owner.spotify %}
        <a class="link" data-title="open.spotify.com/user/{{ site.owner.spotify }}" href="https://open.spotify.com/user/{{ site.owner.spotify }}" target="_blank">
            <svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg>
        </a>
    {% endif %}

    {% if site.owner.github %}
        <a class="link" data-title="github.com/{{ site.owner.github }}" href="https://github.com/{{ site.owner.github }}" target="_blank">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
        </a>
    {% endif %}

    {% if site.owner.medium %}
        <a class="link" data-title="medium.com/@{{ site.owner.medium }}" href="https://medium.com/@{{ site.owner.medium }}" target="_blank">
            <svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>
        </a>
    {% endif %}

    {% if site.owner.vimeo %}
        <a class="link" data-title="vimeo.com/{{ site.owner.vimeo }}" href="https://vimeo.com/{{ site.owner.vimeo }}" target="_blank">
            <svg class="icon icon-vimeo"><use xlink:href="#icon-vimeo"></use></svg>
        </a>
    {% endif %}

    {% if site.owner.email %}
        <a class="link" data-title="{{ site.owner.email }}" href="mailto:{{ site.owner.email }}">
            <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
        </a>
    {% endif %}
</div>
